<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-6 text-center text-sm-left mb-0">
    <h3 class="page-title">Job Status</h3>
  </div>
</div>
<!-- End Page Header -->
<!-- Content -->
<div class="row">
  <div class="col">
    <div class="card card-small mb-4">
      <div class="card-header border-bottom">
        <h6 class="m-0">Plug-Ins with Jobs</h6>
      </div>
      <div class="card-body p-0 pb-3 text-center">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead class="bg-light">
            <tr>
              <th scope="col" class="border-0">Plugin and Job Title</th>
              <th scope="col" class="border-0">Start Last Run</th>
              <th scope="col" class="border-0">Runtime</th>
              <th scope="col" class="border-0">Start Next Run</th>
              <th scope="col" class="border-0">Active</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="job : ${jobs}">
              <tr>
                <td th:text="${job.pluginName + ' : ' + job.jobName}">Plugin and Job</td>
                <td class="px-3"
                    th:text="${#dates.format(job?.lastStartTime, 'MMM d, YYYY h:mm a')} ?: 'N/A'"
                    th:data-order="${#dates.format(job?.lastStartTime, 'YYYYMMddhhmm')} ?: '0'">Start</td>
                <td th:text="${job.getDurationString()}"
                    th:data-order="${job.getDurationMs()}">Runtime</td>
                <td class="px-3"
                    th:text="${#dates.format(job?.nextStartTime, 'MMM d, YYYY h:mm a')} ?: 'N/A'"
                    th:data-order="${#dates.format(job?.nextStartTime, 'YYYYMMddhhmm')} ?: '0'">Upcoming</td>
                <td th:text="${job.active}">Active</td>
              </tr>
            </th:block>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
