<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <h3 class="page-title">Demo Vulns</h3>
    </div>
</div>
<!-- End Page Header -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
        <div class="card card-small h-100">
            <div class="card-header border-bottom">
                <h6 class="m-0">Current Mappings</h6>
            </div>
            <div class="card-footer">
                <div class="table-responsive">
                    <table class="table ">
                        <thead>
	                        <tr>
	                            <th scope="col">Synapse Product Line</th>
	                            <th scope="col">Synapse Project</th>
	                            <th scope="col">Vulns</th>
	                            <th scope="col">Actions</th>
	                        </tr>
                        </thead>
                        <tbody>
	                        <th:block th:each="entry : ${demoProjects.getMapping()}">
	                            <th:block th:each="item, stat: ${entry.value}">
		                            <tr>
			                            <td th:text="${stat.first}? ${entry.key}: ''"></td>
			                            <td th:text="${item.projectName}"></td>
			                            <td th:text="${item.isConfigured()}? ${item.vulns} : 'N/A'"></td>
			                            <td>
			                                <form method="POST" action="/demo">
			                                    <input type="hidden" name="projectName" th:value="${item.projectName}"/>
			                                    <input type="text" name="vulns" placeholder="Num Vulns"/>
			                                    <input type="hidden" th:name="${_csrf.parameterName}"
			                                           th:value="${_csrf.token}"/>
			                                    <button class="btn btn-outline-danger btn-xs py-1 px-2" name="Submit"
			                                            type="Submit">Assign Vulns
			                                    </button>
			                                </form>
			                            </td>
		                            </tr>
	                            </th:block >
	                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
