<!-- Page Header -->
<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
    <h3 class="page-title">Unresolved Issues</h3>
  </div>
</div>
<!-- End Page Header -->
<!-- Current Mappings -->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
    <div class="card card-small h-100 text-center">
      <div class="card-header border-bottom text-left">
        <h6 class="m-0">View Issues Per Project</h6>
      </div>
      <div class="card-footer">
        <div th:switch="${mappedProjects.size() + unmappedProjects.size()}">
          <p th:case="0" class="card-text text-left">No project data.</p>
          <div th:case="*">
            <p class="card-title text-left">
              <select id="productLinePicker" class="selectpicker input-group w-25"
                      title="Select a Product Line"
                      data-style="rounded border" data-live-search="true">
                <optgroup label="Product Lines">
                  <option th:each="productLine : ${productLines}"
                          th:data-content="${productLine.name}"
                          th:value="${productLine.id}"></option>
                </optgroup>
                <option data-content="Unmapped Projects" value="unmapped"></option>
              </select>
            </p>
            <div th:each="productLine : ${productLines}" class="table-responsive issuesTable d-none"
                 th:id="${'issuesTable-' + productLine.id}">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">Synapse Project</th>
                  <th scope="col">Veracode App</th>
                  <th scope="col">Latest Report</th>
                  <th scope="col">Policy Score</th>
                  <th scope="col">Unmitigated Flaws</th>
                  <th scope="col">Total Flaws</th>
                  <th scope="col">View Report</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${mappedProjects}"
                    th:if="${project.synapseProject.getOwningProductLine().equals(productLine)}"
                    th:with="report = ${project.getCurrentReport()}">
                  <td class="px-3"
                      th:text="${project.synapseProject?.name} ?: 'N/A'"></td>
                  <td class="px-3" th:text="${project.name}"></td>
                  <td class="px-3"
                      th:text="${#temporals.format(report?.reportDate, 'MMM d, YYYY h:mm a')} ?: 'N/A'"
                      th:data-order="${#temporals.format(report?.reportDate, 'YYYYMMddhhmm')} ?: '0'"></td>
                  <td class="px-3" th:text="${report?.score} ?: 'N/A'"
                      th:data-order="${report?.score} ?: -1"></td>
                  <td class="px-3" th:text="${report?.unmitigatedFlaws} ?: 'N/A'"
                      th:data-order="${report?.unmitigatedFlaws} ?: -1"></td>
                  <td class="px-3" th:text="${report?.totalFlaws} ?: 'N/A'"
                      th:data-order="${report?.totalFlaws} ?: -1"></td>
                  <td class="py-2">
                    <a class="btn btn-sm btn-primary" target="__blank"
                       th:href="${report == null ? '#' : 'https://analysiscenter.veracode.com/auth/index.jsp#ViewReportsDetailedReport:'+ report.coordinates}">
                      Go To Report
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive issuesTable d-none" id="issuesTable-unmapped">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">Veracode App</th>
                  <th scope="col">Latest Report</th>
                  <th scope="col">Policy Score</th>
                  <th scope="col">Unmitigated Flaws</th>
                  <th scope="col">Total Flaws</th>
                  <th scope="col">View Report</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${unmappedProjects}"
                    th:with="report = ${project.getCurrentReport()}"
                    th:id="${project.name + '-issues'}">
                  <td class="px-3" th:text="${project.name}"></td>
                  <td class="px-3"
                      th:text="${#temporals.format(report?.reportDate, 'MMM d, YYYY h:mm a')} ?: 'N/A'"
                      th:data-order="${#temporals.format(report?.reportDate, 'YYYYMMddhhmm')} ?: '0'"></td>
                  <td class="px-3" th:text="${report?.score} ?: 'N/A'"
                      th:data-order="${report?.score} ?: -1"></td>
                  <td class="px-3" th:text="${report?.unmitigatedFlaws} ?: 'N/A'"
                      th:data-order="${report?.unmitigatedFlaws} ?: -1"></td>
                  <td class="px-3" th:text="${report?.totalFlaws} ?: 'N/A'"
                      th:data-order="${report?.totalFlaws} ?: -1"></td>
                  <td class="py-2">
                    <a class="btn btn-sm btn-primary" target="__blank"
                       th:href="${report == null ? '#' : 'https://analysiscenter.veracode.com/auth/index.jsp#ViewReportsDetailedReport:'+ report.coordinates}">
                      Go To Report
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Current Mappings -->

