<!-- Page Header -->
<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
    <h3 class="page-title">Data Management</h3>
  </div>
</div>
<!-- End Page Header -->
<div class="row">
  <!-- Included App Settings -->
  <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
    <div class="card card-small">
      <div class="card-header border-bottom">
        <h6 class="m-0">Included App Settings
          <a href="#" data-toggle="tooltip" th:title="${help}">
            <i class="material-icons">help_outline</i>
          </a>
        </h6>
      </div>
      <div class="card-footer">
        <div th:switch="${apps.size()}">
          <ul th:case="0" class="list-group list-group-small list-group-flush">
            <li class="list-group-item d-flex px-3">
              <span class="text-semibold text-fiord-blue">No app data.</span>
            </li>
          </ul>
          <div th:case="*">
            <p class="card-title">Set Included Apps</p>
            <div class="row">
              <div class="col">
                <form class="d-inline"
                      action="/veracodesast/data/apps/include" method="POST">
                  <select name="appIds" class="selectpicker input-group"
                          title="Select apps to include in metrics" data-width="85%"
                          data-style="rounded border" data-live-search="true" multiple>
                    <th:block th:each="app : ${apps}">
                      <option th:data-content="${app.displayName}" th:value="${app.id}"
                              th:selected="${app.included}"></option>
                    </th:block>
                  </select>
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                  <button class="btn btn-primary" type="submit">
                    Apply
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Included App Settings -->
</div>
<!-- Apps -->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
    <div class="card card-small h-100">
      <div class="card-header border-bottom">
        <h6 class="m-0">Apps</h6>
      </div>
      <div class="card-footer">
        <div th:switch="${apps.size()}">
          <ul th:case="0" class="list-group list-group-small list-group-flush">
            <li class="list-group-item d-flex px-3">
              <span class="text-semibold text-fiord-blue">No app data.</span>
            </li>
          </ul>
          <div th:case="*" class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
              <tr>
                <th scope="col">App Name</th>
                <th scope="col">Included?</th>
                <th scope="col">Delete App</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="app : ${apps}">
                <td th:text="${app.name}"></td>
                <td th:text="${app.included ? 'Yes' : 'No'}"></td>
                <td>
                  <button class="btn btn-outline-danger btn-xs py-1 px-2" data-toggle="modal"
                          data-target="#deleteModal" data-item="App"
                          data-action="/veracodesast/data/app/delete"
                          data-input="appId" th:data-id="${app.id}"
                          th:data-name="${app.name}">Delete
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Projects -->
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="deleteModalLabel">
          <i class="material-icons">warning</i> Delete <label id="deleteModalItem"></label>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <label id="deleteModalName"></label>? All associated data
        will be deleted.
      </div>
      <div class="modal-footer">
        <form class="form-inline" id="deleteModalForm" method="POST" action="#">
          <div class="input-group pb-2">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input id="deleteModalInput" type="hidden" name="#" value="#"/>
            <button class="btn btn-danger px-2" type="submit">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Modal -->
