<!-- Page Header -->
<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
    <h3 class="page-title">Veracode DAST Dashboard</h3>
  </div>
</div>
<!-- End Page Header -->
<!-- Small Stats Blocks -->
<div class="row">
  <div class="col-lg col-md-6 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Covered Apps</span>
            <h6 class="stats-small__value count my-3" th:text="${coveredApps}"></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-6 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Vulnerable Apps</span>
            <h6 class="stats-small__value count my-3" th:text="${vulnApps}"></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-6 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Min Score</span>
            <h6 class="stats-small__value count my-3"
                th:text="${scoreStats ==null ? 'N/A' : scoreStats.getMin()}"></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-6 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Max Score</span>
            <h6 class="stats-small__value count my-3"
                th:text="${scoreStats ==null ? 'N/A' : scoreStats.getMax()}"></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-6 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Avg Score</span>
            <h6 class="stats-small__value count my-3"
                th:text="${scoreStats == null ? 'N/A' : #numbers.formatDecimal(scoreStats.getAverage(),1,1)}"></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-6 col-sm-6 mb-4">
    <div class="stats-small stats-small--1 card card-small">
      <div class="card-body p-0 d-flex">
        <div class="d-flex flex-column m-auto">
          <div class="stats-small__data text-center">
            <span class="stats-small__label text-uppercase">Total Vulnerabilities</span>
            <h6 class="stats-small__value count my-3" th:text="${totalVulns}"></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Small Stats Blocks -->
<div class="row">
  <!-- Bar Graph Violations By  -->
  <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
    <div class="card card-small">
      <div class="card-header border-bottom">
        <h6 class="m-0">Report Data Graph</h6>
      </div>
      <div class="timeperiod card-body d-flex py-0">
        <canvas height="480" id="violations-bar"></canvas>
        <div class="d-flex flex-column m-auto">
          <div class="stats-med__data text-center">
            <div id="bar-no-data"></div>
          </div>
        </div>
      </div>
      <div class="card-footer border-top">
        <div class="row text-center">
          <div class="col border-right">
            <p class="card-title">Select a Data Set</p>
            <select class="custom-select custom-select-sm" id="view-by">
              <option selected value="all">All Data</option>
              <option value="productLine">Product Line</option>
            </select>
            <select class="custom-select custom-select-sm" id="productLine">
              <option th:each="productLine: ${productLines}"
                      th:value="${productLine.name}" th:text="${productLine.name}"></option>
            </select>
          </div>
          <div class="col border-right">
            <p class="card-title">Select a Time Period</p>
            <select class="custom-select custom-select-sm" id="bar-period">
              <option value="last-week">Last Week</option>
              <option selected value="last-four-weeks">Last Four Weeks</option>
              <option value="last-six-months">Last Six Months</option>
              <option value="all-time">All Time</option>
            </select>
          </div>
          <div class="col">
            <p class="card-title">Select a Category</p>
            <select class="custom-select custom-select-sm" id="bar-category">
              <option selected value="policy">By Policy Score</option>
              <option value="flaws">By Mitigation Status</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Bar Graph Violations By Period and Severity -->
</div>
